<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me through LinkedIn
  <a href="https://www.linkedin.com/in/scottjgorsky/overlay/contact-info/#:~:text=linkedin.com/in/scottjgorsky"</a>.
</p>